{% load staticfiles %}
 
<html>

<head>
	<link rel="stylesheet" href="{% static "posts/css/base.css" %}">
	<script src="{% static "posts/js/jquery-3.1.0.min.js" %}"></script>
	<script>
    $( document ).ready(function() {
        $("a.remove-link").click(function( event ) {
            event.preventDefault();
        
	        var post_id = $(this).parent().parent().attr('id');
	        
	    });
	        
			$.ajax({
			  url: "/posts/api/delete/",
			  data: {
			  	  'post_id': post_id
			  },
			  success: function( result ) {
			      console.log('success!!!');
			      $('div#' + post_id).remove();
			  }
			});
            
        });
    });
	</script>
</head>

<body>

<h1 class="main-header">Тестовый блог</h1>

<nav class="navigation">
{% for obj in object_list %}
	<div id="{{obj.id}}">
		<div class=""><a href='{{obj.get_absolute_url}}'>  {{obj.title}}  </a> </div> </br>
	</div>
{% endfor %}
</nav>

<div class="posts__container">
{% for obj in object_list %}
	<div id="{{obj.id}}">
		<div class="artname"><a href='{{obj.get_absolute_url}}'>  {{obj.title}}  </a> </div> </br>
		<div class="">Редактировано: {{obj.updated}}</div>
		<div class="article-info">Опубликовано: {{obj.timestamp}}</div>
		<div class="">
			<a class="remove-link" href="">Удалить</a>
			<a href="/posts/{{obj.id}}/edit/">Редактировать</a>
		</div>
	</div>
{% endfor %}
</div>

<div class="posts__controls">
	<a href="/posts/create"> Создать статью </a>
</div>



</body>


</html>