<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>BLACK'n'ORANGE</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
<div id="pagewidth">
  <div id="header">
    <h1 id="logo">Your Site Name </h1>
    <h2 id="slogan">company slogan here...</h2>
  </div>
  <div id="wrapper" class="clearfix">
    <div id="twocols" class="clearfix">
      <div id="maincol">
        <h2>Main Menu</h2>
        <div id="navcontainer">
          <ul id="navlist">
            <li id="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <h2>Resources</h2>
        <ul>
          <li><a href="#" id="current">SNAPP HAPPY</a></li>
          <li><a href="#">Open Designs</a></li>
          <li><a href="#">ANDREAS VIKLUND</a></li>
          <li><a href="#">JAMES KOSTER</a></li>
          <li><a href="#">CSS play</a></li>
          <li><a href="#">LISTAMATIC</a></li>
          <li><a href="#"> LAYOUTGALA</a></li>
          <li><a href="#"> BLUEROBOT</a></li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus eu ipsum eget diam rutrum sollicitudin. Quisque tincidunt porta arcu. Etiam vulputate elementum orci. Vestibulum hendrerit pede in pede. Etiam quam neque, egestas et, facilisis placerat, viverra eu, neque. </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus eu ipsum eget diam rutrum sollicitudin. Quisque tincidunt porta arcu. Etiam vulputate elementum orci.</p>
      </div>
      <div id="rightcol">
        <h2>Daily News</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam nibh leo, gravida hendrerit, aliquam eget, placerat eget, diam. Nullam facilisis iaculis nulla. Quisque gravida leo. Praesent sem nibh, imperdiet vel, pulvinar nec, eleifend non, arcu. Duis laoreet semper lectus. Phasellus tristique ultricies leo. Cras turpis. Curabitur feugiat. Nunc vitae leo et odio auctor congue. Aenean et pede sit amet risus dapibus ullamcorper. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
        <p class="post"> <a href="#" class="readmore">Read more</a> <a href="#" class="comments">Comments (3)</a> <span class="date">Feb 25, 2007</span> </p>
        <p>Phasellus eu ipsum eget diam rutrum sollicitudin. Quisque tincidunt porta arcu. Etiam vulputate elementum orci. Vestibulum hendrerit pede in pede. Etiam quam neque, egestas et, facilisis placerat, viverra eu, neque. Nam dolor dolor, blandit condimentum, dictum nec, hendrerit eget, tellus. Quisque nec nibh. Sed sapien. Sed sem nisi, feugiat a, tristique ut, mattis ac, lorem. Phasellus at erat. </p>
        <p class="post"> <a href="#" class="readmore">Read more</a> <a href="#" class="comments">Comments (3)</a> <span class="date">Feb 24, 2007</span> </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam nibh leo, gravida hendrerit, aliquam eget, placerat eget, diam. Nullam facilisis iaculis nulla. Quisque gravida leo. Praesent sem nibh, imperdiet vel, pulvinar nec, eleifend non, arcu. Duis laoreet semper lectus. Phasellus tristique ultricies leo. Cras turpis. Curabitur feugiat. Nunc vitae leo et odio auctor congue. Aenean et pede sit amet risus dapibus ullamcorper. </p>
        <p class="post"> <a href="#" class="readmore">Read more</a> <a href="#" class="comments">Comments (7)</a> <span class="date">Feb 23, 2007</span> </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam nibh leo, gravida hendrerit, aliquam eget, placerat eget, diam. Nullam facilisis iaculis nulla. Quisque gravida leo. Praesent sem nibh, imperdiet vel, pulvinar nec, eleifend non, arcu. Duis laoreet semper lectus. Phasellus tristique ultricies leo. Cras turpis. Curabitur feugiat. Nunc vitae leo et odio auctor congue. Aenean et pede sit amet risus dapibus ullamcorper. </p>
        <p class="post"> <a href="#" class="readmore">Read more</a> <a href="#" class="comments">Comments (7)</a> <span class="date">Feb 23, 2007</span> </p>
      </div>
    </div>
    <div id="leftcol">
      <h2>Welcome to Black 'n' Orange template</h2>
      <div class="box">
        <blockquote>This template has been tested in Mozilla and IE7. The page validates as XHTML 1.0 Transitional using valid CSS. The images used in this template are courtesy of www.sxc.hu. <br />
          For more FREE templates visit my website.</blockquote>
      </div>
      <h2>Who We Are</h2>
      <p><img class="imgleft" src="images/img02.jpg" alt="" /> Phasellus eu ipsum eget diam rutrum sollicitudin. Quisque tincidunt porta arcu. Etiam vulputate elementum orci. Vestibulum hendrerit pede in pede. Etiam quam neque, egestas et, facilisis placerat, viverra eu, neque. Nam dolor dolor, blandit condimentum, dictum nec, hendrerit eget, tellus. Quisque nec nibh. Sed sapien. Sed sem nisi, feugiat a, tristique ut, mattis ac, lorem. Phasellus at erat. </p>
      <div class="clear">&nbsp;</div>
      <div class="box">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam nibh leo, gravida hendrerit, aliquam eget, placerat eget, diam. Nullam facilisis iaculis nulla. Quisque gravida leo. Praesent sem nibh, imperdiet vel, pulvinar nec, eleifend non, arcu. Duis laoreet semper lectus. Phasellus tristique ultricies leo. Cras turpis. Curabitur feugiat. Nunc vitae leo et odio auctor congue. Aenean et pede sit amet risus dapibus ullamcorper.</p>
      </div>
    </div>
  </div>
  <div id="footer">
    <p><a href="#">Homepage</a> | <a href="#">contact</a> | <a href="http://validator.w3.org/check?uri=referer">html</a> | <a href="http://jigsaw.w3.org/css-validator">css</a> | &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a> | This work is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a></p>
  </div>
</div>
</body>
</html>
