 
<html>



<body style="background-color:#FFFFF0">

<h1 style="background-color:#D2691E"> <Font color = "#FFFFFF" face="segoe script" size="21"> Тестовый блог </Font>  </h1>
<!--{% load staticfiles %}-->
<!--<img src="{% static "blog/1.jpg" %}"/>-->

<!--<h1>-->
<!--<Font color = "#D2691E" size="21 " face="segoe script"> <I> Тестовый блог </I> </Font>-->
<!--</h1>-->

{% for obj in object_list %}
<!--{% url "posts:detail" id=obj.id %}-->
<a href='{{obj.get_absolute_url}}'> <Font color = "#D2691E" face="segoe script" size = "5"> {{obj.title}} </Font> </a>  </br>
<!--{{obj.content}}</br>-->
<Font color = "#CFCFCF"> Редактировано: {{obj.updated}} </Font> </br>
<Font color = "#CFCFCF"> Опубликовано: {{obj.timestamp}}</Font> </br>
<Font color = "#CFCFCF"> {{obj.id}} </Font> </br>

{% endfor %}

<ul>
{% for post in object_list %}
    <li> <Font color = "#D2691E"  face="segoe script" > {{ post.title }}</Font> <Font color = "#CFCFCF"> <a href="/posts/{{post.id}}/delete/">Удалить</a> / <a href="/posts/{{post.id}}/edit/">Редактировать</a> </li>
{% endfor %}
</ul>

<ul>   <li><a href="/posts/create"> <Font color = "#D2691E"  face="segoe script"> Создать статью </Font> </a> </li> </ul>

</body>


</html>