 

<html>

<body>

{% if messages %}
<ul class="messages">
    {%for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message  }}</li>
    {% endfor  %}
</ul>
{% endif  %}
<h1>
{{ title }}
</h1>

{{post.title}}</br>
{{post.content}}</br>
{{post.updated}}</br>
{{post.timestamp}}</br>
{{post.id}}</br>

<ul>
{% for comment in comments %}
    <li>{{ comment.commfield }} <a href="/posts/{{post.id}}/comment/{{comment.pk}}/delete/">Удалить</a></li>
{% endfor %}
</ul>

<form method='POST' action='/posts/{{post.id}}/comment/'>{% csrf_token %}
{{ form.as_p  }}

<input type='submit' value = 'Comment'/>
</form>


<!-- <a href="/posts/{{post.id}}/comment/">Добавить комментарий</a> -->

</body>

</html>