{% load staticfiles %} 

<html>

	<head>
		<link rel="stylesheet" href="{% static "posts/css/base.css" %}">
	</head>

	<body style="background-color:#FFFFF0">

{% if messages %}
<ul class="messages">
    {%for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message  }}</li>
    {% endfor  %}
</ul>
{% endif  %}
<h1 style="background-color:#D2691E"> <Font color = "#FFFFFF" face="segoe script"> {{ title }} </Font>  </h1>

<!--
	<div>
		<img src="{% static "posts/images/article.jpg" %}">
	</div>
-->

<div class="article-image"></div>

<Font color = "#D2691E" size="5 " face="segoe script"> {{post.content}} </Font> </br>
<Font color = "#CFCFCF"> Редактировано: {{post.updated}}</Font></br>
<Font color = "#CFCFCF"> Опубликовано: {{post.timestamp}}</Font></br>
<Font color = "#CFCFCF">{{post.id}}</Font></br>

<ul>
{% for comment in comments %}
    <li>{{ comment.commfield }} <a href="/posts/{{post.id}}/comment/{{comment.pk}}/delete/">Удалить</a></li>
{% endfor %}
</ul>


<form method='POST' action='/posts/{{post.id}}/comment/'>{% csrf_token %}
{{ form.as_p  }}

<input type='submit' value = 'Комментировать'/>
</form>

<ul>
  <li> <a href="/posts/"> <Font color = "#D2691E" face="segoe script"> Назад </Font> </a></li>
</ul>


<!-- <a href="/posts/{{post.id}}/comment/">Добавить комментарий</a> -->

</body>

</html>