{% load staticfiles %} 

<html>

	<head>
		<link rel="stylesheet" href="{% static "posts/css/base.css" %}">
	</head>

	<body>

{% if messages %}
<ul class="messages">
    {%for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message  }}</li>
    {% endfor  %}
</ul>
{% endif  %}

<div class="arthead">
    <h1>{{ title }}  </h1>
</div>
<!--
	<div>
		<img src="{% static "posts/images/article.jpg" %}">
	</div>
-->

<div class="article-image"></div>

<div class="artname"> {{post.content}} </div>
<div class="article-info"> Редактировано: {{post.updated}}</div>
<div class="article-info"> Опубликовано: {{post.timestamp}}</div>
<div class="article-info">{{post.id}}</div>

<ul>
{% for comment in comments %}
    <div class="comme">{{ comment.commfield }}</div>
    <div class="article-info"> <a href="/posts/{{post.id}}/comment/{{comment.pk}}/delete/">Удалить</a> </div>
{% endfor %}
</ul>


<form method='POST' action='/posts/{{post.id}}/comment/'>{% csrf_token %}
{{ form.as_p  }}

<input type='submit' value = 'Комментировать'/>
</form>

<ul>
  <li> <a href="/posts/"> <Font color = "#D2691E" face="segoe script"> Назад </Font> </a></li>
</ul>


<!-- <a href="/posts/{{post.id}}/comment/">Добавить комментарий</a> -->

</body>

</html>