 {% load staticfiles %}

<html>

<head>
		<link rel="stylesheet" href="{% static "posts/css/base.css" %}">
</head>

<body class="bg">

  <div>
    <h1 class="main__header"> Создать / Редактировать   </h1>
  </div>

<nav class="navigation">
    {% for obj in object_list %}
        <div>
            <div class=""> <a href='{{obj.get_absolute_url}}'>  {{obj.title}}  </a> </div>
        </div>
    {% endfor %}
</nav>

<div class="posts__container">
  <form method='POST'action=''>{% csrf_token %}
  {{ form.as_p  }}

  <input type='submit' value = 'Отправить'/>
</form>
</div>
<ul>
  <li> <a href="/posts/"> Назад  </a></li>
</ul>

</body>


</html>